#canvas-wrapper {
  display: inline-block;
  position: relative;

  margin: 10px;
}
.canvas {
  width: 501px;
  height: 501px;
  border: 1px solid greenyellow;
  image-rendering: pixelated;
}
#back-canvas {
  position: relative;
  top: 0;
  left: 0;
}
#draw-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#animation-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#console-wrapper {
  display: inline-block;
  vertical-align:top;

  margin: 10px
}
form {
  margin: 10px;
}
textarea {
  resize: none;
}

.red {
  background-color: rgb(255, 60, 60);
}